In [1]:
# accessing row and columns 

# rows
import pandas as pd
df = pd.read_csv("cities_r2.csv")
df.iloc[1]

name_of_city                                 Achalpur
state_code                                          27
state_name                                 MAHARASHTRA
dist_code                                            7
population_total                                112293
population_male                                  58256
population_female                                54037
0-6_population_total                             11810
0-6_population_male                               6186
0-6_population_female                             5624
literates_total                                  92433
literates_male                                   49347
literates_female                                 43086
sex_ratio                                          928
child_sex_ratio                                    909
effective_literacy_rate_total                    91.99
effective_literacy_rate_male                     94.77
effective_literacy_rate_female                    89.0
location                          21.257584,77.5086754
total_graduates                                   8863
male_graduates                                    5269
female_graduates                                  3594
Name: 1, dtype: object

In [2]:
# accessing multiple rows 
df.iloc[2:5]

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031

In [7]:
# accessing columns
df["name_of_city"]

0            Abohar
1          Achalpur
2          Adilabad
3         Adityapur
4             Adoni
           ...
488    Vizianagaram
489        Warangal
490          Wardha
491     Yamunanagar
492        Yavatmal
Name: name_of_city, Length: 493, dtype: object

In [10]:
# accessing total population in 2nd row
print(df.loc[1,"population_total"])

112293

In [14]:
# filtering 
df[df["state_code"]==8]

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
10,Ajmer,8,RAJASTHAN,21,542580,278786,263794,59437,31547,27890,...,192327,946,884,87.53,93.26,81.53,"26.4498954,74.6399163",77989,42454,35535
17,Alwar,8,RAJASTHAN,6,315310,166900,148410,34576,18862,15714,...,104897,889,833,86.78,93.72,79.05,"27.5529907,76.6345735",58764,35297,23467
53,Banswara,8,RAJASTHAN,27,100128,51240,48888,12244,6602,5642,...,35034,954,855,86.98,92.76,81.01,"23.5461394,74.4349761",13852,7837,6015
54,Baran,8,RAJASTHAN,30,118157,61360,56797,14845,7842,7003,...,35670,926,893,81.19,90.08,71.64,"25.1011438,76.5131637",11553,7362,4191
68,Beawar,8,RAJASTHAN,21,145809,74946,70863,17709,9419,8290,...,48882,946,880,85.96,93.44,78.12,"26.1007337,74.3190747",13767,8257,5510
80,Bharatpur,8,RAJASTHAN,7,252109,134088,118021,31538,17245,14293,...,75517,880,829,82.13,90.41,72.80,"27.216981,77.489515",33411,20734,12677
85,Bhilwara,8,RAJASTHAN,24,360009,187952,172057,45832,24215,21617,...,114456,915,893,84.27,91.80,76.08,"25.321377,74.586953",41788,24856,16932
88,Bhiwadi,8,RAJASTHAN,6,104883,59757,45126,16884,9080,7804,...,26290,755,859,80.67,88.20,70.44,"28.2088218,76.8445999",10135,6331,3804
100,Bikaner,8,RAJASTHAN,3,647804,340894,306910,82264,43280,38984,...,192296,900,901,79.86,87.15,71.77,"28.0229348,73.3119159",73369,44965,28404
108,Bundi,8,RAJASTHAN,23,102823,53299,49524,12047,6419,5628,...,32840,929,877,83.15,90.96,74.81,"25.4305144,75.6499025",13148,8081,5067
125,Chittaurgarh,8,RAJASTHAN,28,116409,60229,56180,14067,7473,6594,...,38321,933,882,84.96,92.17,77.28,"24.8887435,74.6269216",16833,9875,6958
127,Churu,8,RAJASTHAN,4,119846,61771,58075,16334,8513,7821,...,31696,940,919,75.11,86.48,63.07,"28.3174965,74.9851678",8756,5873,2883
149,Dhaulpur,8,RAJASTHAN,8,126142,67740,58402,17199,9459,7740,...,34318,862,818,76.56,84.22,67.74,"26.7025181,77.893391",11782,7680,4102
172,Ganganagar,8,RAJASTHAN,1,224773,120929,103844,24768,13651,11117,...,71075,859,814,83.22,88.90,76.65,"29.9038399,73.8771901",34347,19007,15340
173,Gangapur City,8,RAJASTHAN,10,119045,62910,56135,16098,8693,7405,...,32901,892,852,79.78,90.80,67.52,"26.4846537,76.7278803",9850,6727,3123
200,Hanumangarh,8,RAJASTHAN,2,151104,79817,71287,17947,9709,8238,...,44402,893,848,78.32,85.42,70.42,"29.5815012,74.3294199",16870,9978,6892
209,Hindaun,8,RAJASTHAN,9,105690,56178,49512,15451,8345,7106,...,27115,881,852,76.58,87.79,63.94,"26.7454967,77.0330481",7964,5291,2673
225,Jaipur,8,RAJASTHAN,12,3073350,1619280,1454070,378788,204320,174468,...,990584,898,854,84.34,90.61,77.41,"26.9124336,75.7872709",533148,319107,214041
239,Jhunjhunun,8,RAJASTHAN,5,118966,61906,57060,16563,8887,7676,...,31221,922,864,74.40,84.80,63.22,"28.1288747,75.3995089",10403,6482,3921
241,Jodhpur,8,RAJASTHAN,15,1033918,544057,489861,126543,66662,59881,...,317891,900,898,81.56,88.42,73.93,"26.2389469,73.0243094",140922,84420,56502
270,Kishangarh,8,RAJASTHAN,21,155019,80343,74676,21765,11602,10163,...,45496,929,876,80.15,89.19,70.52,"26.5870344,74.856397",13054,8153,4901
277,Kota,8,RAJASTHAN,29,1001365,529795,471570,118139,62958,55181,...,316028,890,876,83.65,90.56,75.90,"25.2138156,75.8647527",128652,73452,55200
331,Nagaur,8,RAJASTHAN,14,100618,52220,48398,12974,6914,6060,...,26849,927,876,73.05,82.06,63.42,"27.1991222,73.740924",7812,5384,2428
360,Pali,8,RAJASTHAN,20,229956,120008,109948,30566,16257,14309,...,64153,916,880,78.67,89.35,67.08,"25.7710893,73.3234478",16234,10768,5466
422,Sawai Madhopur,8,RAJASTHAN,10,120998,63223,57775,15286,8170,7116,...,35034,914,871,80.85,91.62,69.16,"26.0377772,76.3521514",13480,8980,4500
434,Sikar,8,RAJASTHAN,13,237579,123156,114423,32189,17236,14953,...,67010,929,868,77.13,86.29,67.37,"27.6094,75.139911",20786,13799,6987
446,Sujangarh,8,RAJASTHAN,4,101528,52078,49450,14723,7775,6948,...,26802,950,894,74.55,85.58,63.06,"27.7044756,74.4642861",5284,3664,1620
469,Tonk,8,RAJASTHAN,22,165363,84927,80436,23122,12280,10842,...,41649,947,883,69.47,78.70,59.85,"26.1620402,75.7894716",11776,7537,4239
471,Udaipur,8,RAJASTHAN,32,451735,234681,217054,47352,25338,22014,...,166547,925,869,90.66,95.56,85.39,"24.585445,73.712479",92090,51475,40615

In [16]:
# more than one condition 
df[(df["state_code"]==8) & (df["effective_literacy_rate_total"]<80)]

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
100,Bikaner,8,RAJASTHAN,3,647804,340894,306910,82264,43280,38984,...,192296,900,901,79.86,87.15,71.77,"28.0229348,73.3119159",73369,44965,28404
127,Churu,8,RAJASTHAN,4,119846,61771,58075,16334,8513,7821,...,31696,940,919,75.11,86.48,63.07,"28.3174965,74.9851678",8756,5873,2883
149,Dhaulpur,8,RAJASTHAN,8,126142,67740,58402,17199,9459,7740,...,34318,862,818,76.56,84.22,67.74,"26.7025181,77.893391",11782,7680,4102
173,Gangapur City,8,RAJASTHAN,10,119045,62910,56135,16098,8693,7405,...,32901,892,852,79.78,90.80,67.52,"26.4846537,76.7278803",9850,6727,3123
200,Hanumangarh,8,RAJASTHAN,2,151104,79817,71287,17947,9709,8238,...,44402,893,848,78.32,85.42,70.42,"29.5815012,74.3294199",16870,9978,6892
209,Hindaun,8,RAJASTHAN,9,105690,56178,49512,15451,8345,7106,...,27115,881,852,76.58,87.79,63.94,"26.7454967,77.0330481",7964,5291,2673
239,Jhunjhunun,8,RAJASTHAN,5,118966,61906,57060,16563,8887,7676,...,31221,922,864,74.40,84.80,63.22,"28.1288747,75.3995089",10403,6482,3921
331,Nagaur,8,RAJASTHAN,14,100618,52220,48398,12974,6914,6060,...,26849,927,876,73.05,82.06,63.42,"27.1991222,73.740924",7812,5384,2428
360,Pali,8,RAJASTHAN,20,229956,120008,109948,30566,16257,14309,...,64153,916,880,78.67,89.35,67.08,"25.7710893,73.3234478",16234,10768,5466
434,Sikar,8,RAJASTHAN,13,237579,123156,114423,32189,17236,14953,...,67010,929,868,77.13,86.29,67.37,"27.6094,75.139911",20786,13799,6987
446,Sujangarh,8,RAJASTHAN,4,101528,52078,49450,14723,7775,6948,...,26802,950,894,74.55,85.58,63.06,"27.7044756,74.4642861",5284,3664,1620
469,Tonk,8,RAJASTHAN,22,165363,84927,80436,23122,12280,10842,...,41649,947,883,69.47,78.70,59.85,"26.1620402,75.7894716",11776,7537,4239

In [19]:
# using query 
df.query("effective_literacy_rate_total>80 and state_code==8")

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
10,Ajmer,8,RAJASTHAN,21,542580,278786,263794,59437,31547,27890,...,192327,946,884,87.53,93.26,81.53,"26.4498954,74.6399163",77989,42454,35535
17,Alwar,8,RAJASTHAN,6,315310,166900,148410,34576,18862,15714,...,104897,889,833,86.78,93.72,79.05,"27.5529907,76.6345735",58764,35297,23467
53,Banswara,8,RAJASTHAN,27,100128,51240,48888,12244,6602,5642,...,35034,954,855,86.98,92.76,81.01,"23.5461394,74.4349761",13852,7837,6015
54,Baran,8,RAJASTHAN,30,118157,61360,56797,14845,7842,7003,...,35670,926,893,81.19,90.08,71.64,"25.1011438,76.5131637",11553,7362,4191
68,Beawar,8,RAJASTHAN,21,145809,74946,70863,17709,9419,8290,...,48882,946,880,85.96,93.44,78.12,"26.1007337,74.3190747",13767,8257,5510
80,Bharatpur,8,RAJASTHAN,7,252109,134088,118021,31538,17245,14293,...,75517,880,829,82.13,90.41,72.80,"27.216981,77.489515",33411,20734,12677
85,Bhilwara,8,RAJASTHAN,24,360009,187952,172057,45832,24215,21617,...,114456,915,893,84.27,91.80,76.08,"25.321377,74.586953",41788,24856,16932
88,Bhiwadi,8,RAJASTHAN,6,104883,59757,45126,16884,9080,7804,...,26290,755,859,80.67,88.20,70.44,"28.2088218,76.8445999",10135,6331,3804
108,Bundi,8,RAJASTHAN,23,102823,53299,49524,12047,6419,5628,...,32840,929,877,83.15,90.96,74.81,"25.4305144,75.6499025",13148,8081,5067
125,Chittaurgarh,8,RAJASTHAN,28,116409,60229,56180,14067,7473,6594,...,38321,933,882,84.96,92.17,77.28,"24.8887435,74.6269216",16833,9875,6958
172,Ganganagar,8,RAJASTHAN,1,224773,120929,103844,24768,13651,11117,...,71075,859,814,83.22,88.90,76.65,"29.9038399,73.8771901",34347,19007,15340
225,Jaipur,8,RAJASTHAN,12,3073350,1619280,1454070,378788,204320,174468,...,990584,898,854,84.34,90.61,77.41,"26.9124336,75.7872709",533148,319107,214041
241,Jodhpur,8,RAJASTHAN,15,1033918,544057,489861,126543,66662,59881,...,317891,900,898,81.56,88.42,73.93,"26.2389469,73.0243094",140922,84420,56502
270,Kishangarh,8,RAJASTHAN,21,155019,80343,74676,21765,11602,10163,...,45496,929,876,80.15,89.19,70.52,"26.5870344,74.856397",13054,8153,4901
277,Kota,8,RAJASTHAN,29,1001365,529795,471570,118139,62958,55181,...,316028,890,876,83.65,90.56,75.90,"25.2138156,75.8647527",128652,73452,55200
422,Sawai Madhopur,8,RAJASTHAN,10,120998,63223,57775,15286,8170,7116,...,35034,914,871,80.85,91.62,69.16,"26.0377772,76.3521514",13480,8980,4500
471,Udaipur,8,RAJASTHAN,32,451735,234681,217054,47352,25338,22014,...,166547,925,869,90.66,95.56,85.39,"24.585445,73.712479",92090,51475,40615